@page "/cv"
@using Kragh.Shared
@using Flurl
@using Flurl.Http
@inject ClientConfiguration _config

@if (LinkedInResponse is null)
{
	<em>Loading...</em>
	<p>@_config.BaseAddress</p>
}
else
{
	<img src="@LinkedInResponse.ProfilePicUrl" alt="@LinkedInResponse.FullName"/>

	<h1>CV</h1>

	<p>A list of my accomplishments.</p>

	<br />

	<div class="row justify-content-between">
		<div class="col-6">
			<h2>Jobs</h2>
			@foreach (var experiencesByCompany in LinkedInResponse.Experiences
					.GroupBy(experience => new { experience.Company, experience.LogoUrl, experience.CompanyLinkedInProfileUrl }))
			{
				<ItemCard ItemTitle="@experiencesByCompany.Key.Company"
				  LogoUrl="@experiencesByCompany.Key.LogoUrl"
				  LinkedInProfileUrl="@experiencesByCompany.Key.CompanyLinkedInProfileUrl"
				  ItemEntities="@experiencesByCompany.Select(item => new ItemEntity { Title = item.Title, Description = item.Description, Location = item.Location, StartsAt = item.StartsAt, EndsAt = item.EndsAt})" />
				<br />
			}
		</div>

		<div class="col-6">
			<h2>Educations</h2>
			@foreach (var experiencesByCompany in LinkedInResponse.Education
					.GroupBy(experience => new { experience.School, experience.LogoUrl }))
			{
				<ItemCard ItemTitle="@experiencesByCompany.Key.School"
				  LogoUrl="@experiencesByCompany.Key.LogoUrl"
				  ItemEntities="@experiencesByCompany.Select(item => new ItemEntity { Title = item.DegreeName, Description = item.FieldOfStudy, StartsAt = item.StartsAt, EndsAt = item.EndsAt})" />

				<br />
			}
		</div>
	</div>
}


@code {
	public LinkedInResponse LinkedInResponse { get; set; }

	protected override async Task OnInitializedAsync()
	{
		LinkedInResponse = await _config.BaseAddress
			.AppendPathSegment("LinkedIn")
			.GetJsonAsync<LinkedInResponse>();

	}
}
